simple_slider_widget/simple_slider.egg-info/
simple_slider_widget/simple_slider/__pycache__/
simple_slider_widget/simple_slider/txt_files/
.ipynb_checkpoints/
__pycache__/
notebooks/figures_done/
notebooks/log/
notebooks/misc/
notebooks/unused/
notebooks/sig2D_figures/
notebooks/figures_cm/
notebooks/flatsamples/
notebooks/samples/
notebooks/samples_co/
notebooks/__pycache__/
notebooks/.ipynb_checkpoints/
notebooks/visualizing_samples.ipynb
notebooks/Untitled.ipynb